<po-header [p-actions-tools]="headerActions"></po-header>
<po-page-default>
  <div class="po-row" style="margin-top: 56px; row-gap: 1rem;">
    <div class="po-row po-lg-9" style="row-gap: 1rem;">
      <po-container class="po-lg-12">
        <div class="po-row" style="row-gap: 1rem;">
          <p class="po-font-subtitle">Desmatamento em Bornéu</p>
          <p class="po-font-text">
            A <span class="po-font-text-bold">Ilha de Bornéu</span>, lar da última grande floresta tropical da Ásia,
            enfrenta uma das maiores taxas de
            desmatamento do mundo. Mineração, agricultura e corte de madeira são os principais responsáveis, e empresas
            operam frequentemente com pouca supervisão. A destruição das florestas ameaça espécies emblemáticas, como
            orangotangos, macacos-narigudos, leopardos-nebulosos e os menores rinocerontes do planeta.
          </p>
        </div>
      </po-container>

      <div class="po-lg-12">
        <po-widget>
          <po-chart p-title="NDVI em Bornéu" [p-categories]="chartAreaCategories" [p-options]="chartAreaOptions"
            [p-series]="chartAreaSeries">
          </po-chart>
          <div class="po-row po-pt-2" style="gap: 1rem; justify-content: center;">
            <po-radio-group class="po-lg-6" name="periodo" [(ngModel)]="periodoSelecionado"
              (ngModelChange)="onToggleAno($event)" [p-columns]="2" [p-options]="opcoesPeriodo">
            </po-radio-group>
          </div>
        </po-widget>
      </div>
    </div>

    <div class="po-row po-lg-3" style="row-gap: 1rem;">
      <div class="po-lg-12 po-md-6">
        <po-image p-alt="Imagem Ilha de Bornéu" [p-height]="300" [p-priority]="true"
          [p-src]="temaDark ? './assets/images/ilha-borneu-perda-arborea-dark.png' : './assets/images/ilha-borneu-perda-arborea.png'">
        </po-image>
      </div>

      <div class="po-lg-12 po-md-6">
        <po-container>
          <div style="display: flex; flex-direction: column; row-gap: 1rem;">
            <p class="po-font-text-bold">NDVI - Índice de vegetação que varia de -1 a 1</p>
            <po-info p-label="≈ 0" p-value="Áreas sem vegetação"></po-info>
            <po-info p-label="0.2 – 0.4" p-value="Vegetação escassa"></po-info>
            <po-info p-label="0.4 – 0.6" p-value="Vegetação moderada"></po-info>
            <po-info p-label="> 0.6" p-value="Vegetação densa"></po-info>
          </div>
        </po-container>
      </div>
    </div>
  </div>
</po-page-default>
