<po-header [p-actions-tools]="headerActions"></po-header>
<po-page-default>
  <div class="po-row" style="margin-top: 56px; row-gap: 1rem;">
    <po-container class="po-lg-12">
      <div class="po-row" style="row-gap: 1rem;">
        <p class="po-font-subtitle">Desmatamento em Bornéu</p>
        <p class="po-font-text">
          A <span class="po-font-text-bold">Ilha de Bornéu</span>, lar da última grande floresta tropical da Ásia,
          enfrenta uma das maiores taxas de desmatamento do mundo. A mineração, a agricultura e o corte de madeira são
          os
          principais responsáveis, com empresas muitas vezes operando sob pouca supervisão. Essa destruição ameaça
          espécies emblemáticas como os <span class="po-font-text-bold">orangotangos</span>,
          <span class="po-font-text-bold">macacos-narigudos</span>,
          <span class="po-font-text-bold">leopardos-nebulosos</span> e os menores <span
            class="po-font-text-bold">rinocerontes</span> do planeta.
        </p>
      </div>
    </po-container>

    <div class="po-row po-pt-1" style="justify-content: end;">
      <po-radio-group class="po-lg-6" name="periodo" [(ngModel)]="periodoSelecionado"
        (ngModelChange)="onTogglePeriodo($event)" [p-columns]="2" [p-options]="opcoesPeriodo">
      </po-radio-group>
    </div>

    <div class="po-row" style="row-gap: 1rem;">

      <div #ndviEl style="position: relative; width: 100%;">
        @if(!ndviInView || ndviLoading) {
        <po-container [p-height]="500">
          <po-loading-overlay></po-loading-overlay>
        </po-container>
        } @else {
        <po-container class="po-lg-12" [p-height]="500">
          <po-helper class="po-pb-1 po-pl-2" style="justify-content:left;" [p-helper]="helperNdvi">
          </po-helper>
          <po-chart p-title="Índice de Vegetação (NDVI)" [p-categories]="chartNdviCategories"
            [p-options]="chartNdviOptions" [p-series]="chartNdviSeries">
          </po-chart>
        </po-container>
        }
      </div>

      <div #climaEl style="position: relative; width: 100%;">
        @if(!climaInView || climaLoading) {
        <po-container [p-height]="500">
          <po-loading-overlay></po-loading-overlay>
        </po-container>
        } @else {
        <po-container class="po-lg-12" [p-height]="500">
          <po-helper class="po-pb-1 po-pl-2" style="justify-content: left;" [p-helper]="helperClima">
          </po-helper>
          <po-chart p-title="Clima – Temperatura e Precipitação" [p-categories]="chartClimaCategories"
            [p-series]="chartClimaSeries" [p-options]="chartClimaOptions">
          </po-chart>
        </po-container>
        }
      </div>

      <div #desmaEl style="position: relative; width: 100%;">
        @if(!desmaInView || desmaLoading) {
        <po-container [p-height]="500">
          <po-loading-overlay></po-loading-overlay>
        </po-container>
        } @else {
        <po-container class="po-lg-12" [p-height]="500">
          <po-helper class="po-pb-1 po-pl-2" style="justify-content: left;" [p-helper]="helperDesmatamento">
          </po-helper>
          <po-chart p-title="Desmatamento Anual" [p-categories]="chartDesmatamentoCategories"
            [p-series]="chartDesmatamentoSeries" [p-options]="chartDesmatamentoOptions">
          </po-chart>
        </po-container>
        }
      </div>
    </div>
  </div>
</po-page-default>
